<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Informações</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
    <div [formGroup]="form">
      <mat-button-toggle-group color="error" formControlName="ambiente" name="ambiente" aria-label="Ambiente"
        class="toggle-group">
        <mat-button-toggle color="error" value="dev" class="toggle-item">Desenvolvimento</mat-button-toggle>
        <mat-button-toggle color="error" value="hom" class="toggle-item">Homologação</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field fxFlexAlign="center">
        <mat-label>Usuário</mat-label>
        <input required matInput formControlName="usuario" placeholder="Digite seu Usuário" />
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>