:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 64px;
  overflow-y: auto;
}

.content-container {
  flex-grow: 1;
}

.fixed-footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 8px 0;
  flex-shrink: 0;
}

div[fxLayout] {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
