<app-menu class="header fixed-toolbar" (orquestracao)="receberCampos($event)"></app-menu>
<main class="main-container">
  <h1 fxFlexAlign="center">{{title}}</h1>
  <section class="content-container" fxLayoutAlign="center">
    <app-form [fields]="fields" xLayout="row" class="form" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="70" fxFlex.lg="60"
      fxFlex.xl="50" fxFlexAlign="left"></app-form>
  </section>
  <div class="footer fixed-footer" fxFlexAlign="bottom">
    <mat-toolbar fxLayout="row">Footer</mat-toolbar>
  </div>
</main>