<div fxLayout="row">

  <div class="menu-nivel-1" *ngFor="let item of menu.items; let i = index;" style="width: 100%">
    <button *ngIf="item.items && !item.api_path" [matMenuTriggerFor]="nivel2Menu"
      [matMenuTriggerData]="{ menu_nivel_2: item.items, menu_nivel_1: item }" mat-menu-item>{{item.label}}</button>
    <button *ngIf="item.api_path && !item.items" (click)="findOrquestracaoTemplate(item.api_path)"
      mat-menu-item>{{item.label}}</button>
  </div>
  <mat-menu #nivel2Menu="matMenu">
    <ng-template matMenuContent let-menu_nivel_2="menu_nivel_2" let-menu_nivel_1="menu_nivel_1">
      <div class="menu-nivel-2" *ngFor="let item of menu_nivel_2; let i = index;">
        <button *ngIf="item.items && !item.api_path" [matMenuTriggerFor]="nivel3Menu"
          [matMenuTriggerData]="{ menu_nivel_3: item.items, menu_nivel_2: item, menu_nivel_1: menu_nivel_1 }"
          mat-menu-item>
          {{item.label}}
        </button>
        <button *ngIf="item.api_path && !item.items" (click)="findOrquestracaoTemplate(item.api_path)" mat-menu-item>
          {{item.label}}
        </button>
      </div>
    </ng-template>
  </mat-menu>

  <mat-menu #nivel3Menu="matMenu">
    <ng-template matMenuContent let-menu_nivel_3="menu_nivel_3" let-menu_nivel_2="menu_nivel_2"
      let-menu_nivel_1="menu_nivel_1">
      <div class="menu-nivel-1" *ngFor="let item of menu_nivel_3; let i = index;">
        <button mat-menu-item (click)="findOrquestracaoTemplate(item.api_path)">
          {{item.label}}
        </button>
      </div>
    </ng-template>
  </mat-menu>

</div>