<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Informações</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">

    <mat-button-toggle-group name="ambiente" aria-label="Ambiente" class="toggle-group">
      <mat-button-toggle value="dev" class="toggle-item">Desenvolvimento</mat-button-toggle>
      <mat-button-toggle value="hom" class="toggle-item">Homologação</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field fxFlexAlign="center">
      <mat-label>Usuário</mat-label>
      <input required matInput placeholder="Digite seu Usuário" type="number" />
    </mat-form-field>

  </mat-card-content>
</mat-card>
<div fxFlex="value%" fxFlexFill>

</div>