<app-menu class="header fixed-toolbar" (form)="receberCampos($event)"></app-menu>
<main class="main-container">
  <section class="content-container" fxLayoutAlign="center" fxLayout="column">
    <h2 fxFlexAlign="center">{{title}}</h2>
    <div *ngIf="breadcrumb" fxLayout="row" fxFlexAlign="center">
      <span *ngFor="let item of breadcrumb">
        <button mat-stroked-button disabled><mat-icon>chevron_right</mat-icon> {{item}}</button>&nbsp;
      </span>
    </div>
  </section>
  <section class="content-container" fxLayoutAlign="center">
    <app-form *ngIf="fields" [fields]="fields" fxLayout="row" class="form" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="70"
      fxFlex.lg="60" fxFlex.xl="50" fxFlexAlign="left"></app-form>
  </section>
  <div class="footer fixed-footer" fxFlexAlign="bottom">
    <mat-toolbar fxLayout="row">Footer</mat-toolbar>
  </div>
</main>