<div fxFlex="100" fxFlexAlign="center">
  <form fxLayout="column" [formGroup]="form" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-around stretch">
      <div fxFlex="40">
        <app-sidebar [form]="form"></app-sidebar>
      </div>
      <div fxFlex="58">
        <div class="fields" fxLayout="column" fxLayoutAlign="space-around stretch">
          <div *ngFor="let field of formModel; let i = index;" fxFlex="100%">
            <mat-form-field *ngIf="field.fieldFormControl">
              <mat-label>{{field.label}}</mat-label>
              <input required matInput [formControlName]="field.name" [errorStateMatcher]="matcher"
                placeholder="{{field.description}}" type="{{field.type}}" />
              <mat-error
                *ngIf="field.fieldFormControl.hasError('email') && !field.fieldFormControl.hasError('required')">
                O email deve ser válido
              </mat-error>
              <mat-error
                *ngIf="(field.fieldFormControl.hasError('minLength') || field.fieldFormControl.hasError('maxLength')) && !field.fieldFormControl.hasError('required')">
                O valor do campo {{field.label}} deve conter entre {{field.minLength}} e {{field.maxLength}} caracteres
              </mat-error>
              <mat-error *ngIf="field.fieldFormControl.hasError('required')">
                Campo {{field.label}} <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxFlexAlign="end">
      <button type="button" mat-fab extended (click)="executar()" fxFlexAlign="end">
        <mat-icon>send</mat-icon>
        Enviar
      </button>
    </div>
  </form>
</div>